@charset "UTF-8";

// Sass 中的 @extend 是用来扩展选择器或占位符。
.error {
	border: 1px #f00;
	background-color: #fdd;
}

.seriousError {
	// .error 插入 .seriousError 左侧, 启用 .error 样式
	@extend .error;
	border-width: 3px;
}

// %placeholder 不使用 @extend 显示调用是不会生成任何样式代码。那么在选择器中使用占位符一样。比如下面的代码：
#context a%extreme {
	color: blue;
	font-weight: bold;
	font-size: 2em;
}

// 这段代码在不调用之前不产生任何代码，只有能过 @extend 调用之后才生成代码：
// %extreme 插入 .notice 左侧, 启用 %extreme 样式
.notice {
	@extend %extreme;
}
